{% extends "SiteKidoikoiakiBundle::layout.html.twig" %}

{% block title %}Créer un événement{% endblock %}

{% block body %}
		<h1 class="h2 blue">Créer un événement</h1>
		{{ form(form) }}
{% endblock %}